*{background-color: black;
  color: white;
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
font-weight: 400;
font-size: 50px;
}

.download_link{
  font-size: 16px;
  color: aquamarine;
}

.video-container {
  display: block;
  margin: 20px auto;
  max-width: 360px;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);

}

h2{
  font-weight: 300;
  font-size: 42px;
}

.undertitle_from_h2{
  font-weight: 300;
  font-size: 21px;
  color: gray;
}

.camp-image{
  display: block;
  margin: 20px auto;S
  width: 80%;
  max-width: 50%;
}

.phone-image{
  width: 30;
  max-width: 300px;
}

h3{
  font-weight: 300;
  font-size: 42px;
}

.copyright{
  margin-left: 90%;
  font-size: 12px;
  color: gray;
}
